<?xml version="1.0"?>

<!-- 
  The settings below should be added to your web.config to enable Flickr module.
  If you don't have the keys listed below, you'll need to register with Flickr.com 
  as a developer to obtain your api key and secret.
-->

<configuration>
	<configSections>
		<section name="flickr" type="Linq.Flickr.Configuration.FlickrSettings, Linq.Flickr"/>
	</configSections>
	<flickr apiKey="** CHURCH FLICKR API KEY GOES HERE **" secretKey="** CHURCH FLICKR SECRET KEY GOES HERE **"/>
</configuration>
